<%- include("../partials/admin/header") %>
<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <%- include("../partials/admin/navbar") %>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <%- include("../partials/admin/top-nav") %>
        <!-- End of Topbar -->
               <!-- body content -->
               <div class="text-center" style="color: blue; font-weight: bold;">
                  <h2>Agent Review Request</h2>
               </div>
               <div class="row p-2">
                  <% agents.forEach(agent => { %>
                  <div class="col-xl-4 col-md-6 mb-4">
                     <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                           <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                 <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    User Name
                                 </div>
                                 <p><%= agent.name %></p>
                                 <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Email
                                 </div>
                                 <p><%= agent.email %></p>
                              </div>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">More Details</button>
                              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                 <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                       <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Details Agent Review Request</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                          </button>
                                       </div>
                                       <div class="modal-body">
                                          <form action="/admin/edit-agent/<%= agent._id %>" method="POST">
                                             <div class="form-row">
                                                <% if(agent.status == 'disapproved'){ %>
                                                   <div class="text-center w-100">
                                                     <h4 class=" text-danger">This agent has been disapproved</h4>
                                                   </div>
                                                 <% } %>
                                                <div class="form-group col-md-6">
                                                   <label for="inputEmail4">Email</label>
                                                   <input type="email" class="form-control" id="inputemail4" placeholder="Email" readonly disabled value="<%= agent.email %>">
                                                </div>
                                                <div class="form-group col-md-6">
                                                   <label for="inputPassword4">Password</label>
                                                   <input type="password" class="form-control" id="inputPassword4" placeholder="Password" readonly disabled value="<%= agent.password %>">
                                                </div>
                                             </div>
                                             <div class="form-group">
                                                <label for="inputAddress">Address</label>
                                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address" value="<%= agent.brokerageAddress %>">
                                             </div>
                                             <div class="form-group">
                                                <label for="inputAddress2">Address 2</label>
                                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                             </div>
                                             <div class="form-row">
                                                <div class="form-group col-md-6">
                                                   <label for="inputCity">City</label>
                                                   <input type="text" class="form-control" id="inputCity" name="city" value="<%= agent.city %>">
                                                </div>
                                                <div class="form-group col-md-6">
                                                   <label for="inputCity">state</label>
                                                   <input type="text" class="form-control" id="inputCity" name="state" value="<%= agent.state %>">
                                                </div>
                                             </div>
                                         
                                       </div>
                                       <div class="modal-footer">
                                          <input class="btn btn-primary" type="submit" value="Edit"  method="POST">
                                       </form>
                                       <form action="/admin/delete-agent/<%= agent._id %>">
                                          <input class="btn btn-danger" type="submit" value="Delete"  method="POST">
                                       </form>
                                       <% if(agent.status !== 'disapproved'){ %>
                                          <form action="/admin/unapprove-agent/<%= agent._id %>">
                                             <input class="btn btn-primary" type="submit" value="Unapprove">
                                          </form>
                                        <% } %>
                                      
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                       </div>
                                    
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <% }) %>
               </div>
            </div>
            <!-- End of Main Content -->
            <%- include("../partials/footer") %>

            <!-- Bootstrap core JavaScript-->
          </body>
          
          <%- include("../partials/scripts") %>
        </html>
        