
<%-
include('../partials/seller/header')
%>
<%- include('../partials/seller/navbar') %>




<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

   <!-- Main Content -->
   <div id="content">

       <!-- Topbar -->
        <%- include("../partials/seller/head") %>
       <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

        <div class="text-center"><h2>Rejected Bids</h2></div>

        <div class="text-center">
           <ul class="nav nav-pills mb-3 text-center" id="pills-tab" role="tablist">

            <% rejectedBids?.forEach((property, index)=> {%>
                <li class="nav-item mx-2">
                   <a class="nav-link" id="pills-home-tab-<%= index %>" data-toggle="pill" href="#pills-home-<%= index %>" role="tab" aria-controls="pills-home" aria-selected="true">Property <%= index+1 %></a>
                 </li>
             <% }) %>

            </ul>
                            </div>




 <div class="tab-content" id="myTabContent">
               <% if(rejectedBids.length > 0){ %>
                <% rejectedBids?.forEach((property, index)=> {%>
                    <div class="tab-pane fade" id="pills-home-<%= index %>" role="tabpanel" aria-labelledby="pills-home-tab-<%= index %>">


                            <div class="col-xl-4 col-md-6 mb-4">
                               <div class="card ">
                                  <div class="card-body">
                                     <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                           <img style="width: 70px; border-radius: 50%; border: 1px solid lightgray;" src="/images/StandingCount.png" alt="">
                                        </div>
                                        <div class="col mr-2 pl-4 ">
                                           <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            <%= property?.agentId?.screenName %>
                                           </div>
                                           <div class="text-xs pt-2 font-weight-bold text-success text-uppercase mb-1">
                                             <%= property?.agentId?.brokeragePhone %>
                                           </div>
                                           <div class="text-xl pt-2 font-weight-bold text-success text-uppercase mb-1">
                                              *****
                                           </div>
                                           <div class="text-xs pt-2 font-weight-bold text-success text-uppercase mb-1">
                                              51 total reviews (23 local)
                                           </div>
                                        </div>
                                        <div>


                                                <a href="/seller/invite-again/<%= property.agentId._id %>" class="btn btn-primary btn-sm">Invite</a>
                                                <br><br>

                                       </div>
                                     </div>
                                  </div>
                               </div>
                            </div>






                    </div>


                 <% }) %>
                 <% }else{ %>
                  <div class="alert alert-info" role="alert">
                     No bids rejected!
                   </div>
                  <% } %>

</div>



            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- End of Content Wrapper -->

</div>

<!-- End of Page Wrapper -->

<%- include('../partials/seller/footer') %>
<%- include('../partials/seller/scripts') %>
<script src="/js/seller/waiting.js"></script>


