<%- include('../partials/header') %> <%- include('../partials/navbar') %>

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- Topbar -->
        <%- include('../partials/head') %>
        <!-- End of Topbar -->
        <style>
        #map {
          height: 80%;
          width: 90%;
          margin-left: 5%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
    </style>
        <!-- Begin Page Content -->

    <div class="container pb-4">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
            <div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search by address" aria-label="Search"
  aria-describedby="search-addon" />

  </span>
</div>
            </div>
            <div class="col-md-4">
            <div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search by zip code" aria-label="Search"
  aria-describedby="search-addon" />

  </span>
</div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

        <div  id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 53.430938, lng: -2.960841},
          zoom: 17
        });
      }
    </script>
   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCk2ShiatjNL0UhVtm6vcxOj7tKaB_00SY&callback=initMap"></script>






        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../partials/footer') %>

    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<%- include('../partials/scripts') %>






